.logo {
  margin: 5px;
  width: 30px;
}

.desc {
  font-size: 14px;
  color: #737373;
  line-height: 1.6;
}

.demo {
  margin: 8px 10px;
}

.demo a {
  font-size: 18px;
  color: #038cd9;
}

.demo a:visited {
  color: #5f6061;
}
