.bg-ex-title {
    position: relative;
    padding: 5px 20px;
    background: rgb(95, 96, 97);
    border-radius: 3px;
    color: #ffffff;
}

.bg-ex-title-other {
    padding: 5px;
    background: rgba(181, 196, 199, 1);
    color: #ffffff;
    border-radius: 4px;
}