.bg-ex-title {
    position: relative;
    padding: 5px;
    background: rgba(164, 134, 88, 1);
    border-radius: 4px;
    color: #ffffff;
}

.bg-ex-title-other {
    padding: 5px;
    background: rgba(181, 196, 199, 1);
    color: #ffffff;
    border-radius: 4px;
}