.header {
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 140px;
  background: #20232a;
  color: #ffffff;
  border-radius: 0 0 3px 3px;
}

.header .avatar {
  position: relative;
  width: 80px;
}

.header .avatar .source {
  position: absolute;
  top: 0;
  right: -30px;
  cursor: pointer;
  text-decoration: none;
  color: #eeeeee;
  font-size: 14px;
  white-space: nowrap;
}

.header .avatar .point-to-source {
  position: absolute;
  top: 19px;
  right: 16px;
  cursor: pointer;
  color: #eeeeee;
  font-size: 18px;
  transform: rotateZ(37deg);
}

.header .avatar .source:hover {
  color: aquamarine;
}

.header .avatar .full-name {
  position: absolute;
  bottom: -5px;
  right: -7px;
  padding: 7px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #20232a;
  border-radius: 10px;
}

.header .avatar canvas {
  width: 100%;
}

.header .icon {
  box-sizing: border-box;
  width: 40px;
  text-align: center;
}

.row-item {
  font-size: 13px;
  padding: 0 10px;
}
